.content
	.js-video-slider
		// Контент после загрузки всех картинок, до скролла видео
		//- img.neo-logo-main(src='img/slide1.jpg', alt='', style='display: inline;')
		// КОНЕЦ Контент после загрузки всех картинок, до скролла видео 
		// ВИДЕО
		.video-hedgehog.js-video-hedgehog(style='display: block;')
			//- .progress-disable
			//- .js-progress.progress.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false', style='display: block;')
			//- 	a.ui-slider-handle.ui-state-default.ui-corner-all(href='#')
			ul.js-sequence.sequence(style='top: 0%;') 
				li(style='background-image: url(photos_min/1.jpg)')
					i(style='background-image: url(photos/1.jpg)')
				li(style='background-image: url(photos_min/2.jpg)')
				li(style='background-image: url(photos_min/3.jpg)')
				li(style='background-image: url(photos_min/4.jpg)')
				li(style='background-image: url(photos_min/5.jpg)')
					i(style='background-image: url(photos/5.jpg)')
				li(style='background-image: url(photos_min/6.jpg)')
					i(style='background-image: url(photos/6.jpg)')
				li(style='background-image: url(photos_min/7.jpg)')
					i(style='background-image: url(photos/7.jpg)')
				li(style='background-image: url(photos_min/8.jpg)')
				li(style='background-image: url(photos_min/9.jpg)')
				li(style='background-image: url(photos_min/10.jpg)')
					i(style='background-image: url(photos/10.jpg)')
				li(style='background-image: url(photos_min/11.jpg)')
				li(style='background-image: url(photos_min/12.jpg)')
				li(style='background-image: url(photos_min/13.jpg)')
				li(style='background-image: url(photos_min/14.jpg)')
				li(style='background-image: url(photos_min/15.jpg)')
				li(style='background-image: url(photos_min/16.jpg)')
				li(style='background-image: url(photos_min/17.jpg)')
				li(style='background-image: url(photos_min/18.jpg)')
				li(style='background-image: url(photos_min/19.jpg)')
				li(style='background-image: url(photos_min/20.jpg)')
				li(style='background-image: url(photos_min/21.jpg)')
				li(style='background-image: url(photos_min/22.jpg)')
				li(style='background-image: url(photos_min/23.jpg)')
				li(style='background-image: url(photos_min/24.jpg)')
				li(style='background-image: url(photos_min/25.jpg)')
				li(style='background-image: url(photos_min/26.jpg)')
				li(style='background-image: url(photos_min/27.jpg)')
				li(style='background-image: url(photos_min/28.jpg)')
				li(style='background-image: url(photos_min/29.jpg)')
				li(style='background-image: url(photos_min/30.jpg)')
				li(style='background-image: url(photos_min/31.jpg)')
				li(style='background-image: url(photos_min/32.jpg)')
				li(style='background-image: url(photos_min/33.jpg)')
				li(style='background-image: url(photos_min/34.jpg)')
				li(style='background-image: url(photos_min/35.jpg)')
				li(style='background-image: url(photos_min/36.jpg)')
				li(style='background-image: url(photos_min/37.jpg)')
				li(style='background-image: url(photos_min/38.jpg)')
				li(style='background-image: url(photos_min/39.jpg)')
				li(style='background-image: url(photos_min/40.jpg)')
				li(style='background-image: url(photos_min/41.jpg)')
				li(style='background-image: url(photos_min/42.jpg)')
				li(style='background-image: url(photos_min/43.jpg)')
				li(style='background-image: url(photos_min/44.jpg)')
				li(style='background-image: url(photos_min/45.jpg)')
				li(style='background-image: url(photos_min/46.jpg)')
				li(style='background-image: url(photos_min/47.jpg)')
				li(style='background-image: url(photos_min/48.jpg)')
				li(style='background-image: url(photos_min/49.jpg)')
				li(style='background-image: url(photos_min/50.jpg)')
				li(style='background-image: url(photos_min/51.jpg)')
				li(style='background-image: url(photos_min/52.jpg)')
				li(style='background-image: url(photos_min/53.jpg)')
				li(style='background-image: url(photos_min/54.jpg)')
				li(style='background-image: url(photos_min/55.jpg)')
				li(style='background-image: url(photos_min/56.jpg)')
				li(style='background-image: url(photos_min/57.jpg)')
				li(style='background-image: url(photos_min/58.jpg)')
				li(style='background-image: url(photos_min/59.jpg)')
				li(style='background-image: url(photos_min/60.jpg)')
				li(style='background-image: url(photos_min/61.jpg)')
				li(style='background-image: url(photos_min/62.jpg)')
				li(style='background-image: url(photos_min/63.jpg)')
				li(style='background-image: url(photos_min/64.jpg)')
				li(style='background-image: url(photos_min/65.jpg)')
				li(style='background-image: url(photos_min/66.jpg)')
				li(style='background-image: url(photos_min/67.jpg)')
				li(style='background-image: url(photos_min/68.jpg)')
				li(style='background-image: url(photos_min/69.jpg)')
				li(style='background-image: url(photos_min/70.jpg)')
				li(style='background-image: url(photos_min/71.jpg)')
				li(style='background-image: url(photos_min/72.jpg)')
				li(style='background-image: url(photos_min/73.jpg)')
				li(style='background-image: url(photos_min/74.jpg)')
				li(style='background-image: url(photos_min/75.jpg)')
				li(style='background-image: url(photos_min/76.jpg)')
				li(style='background-image: url(photos_min/77.jpg)')
				li(style='background-image: url(photos_min/78.jpg)')
				li(style='background-image: url(photos_min/79.jpg)')
				li(style='background-image: url(photos_min/80.jpg)')
				li(style='background-image: url(photos_min/81.jpg)')
				li(style='background-image: url(photos_min/82.jpg)')
				li(style='background-image: url(photos_min/83.jpg)')
				li(style='background-image: url(photos_min/84.jpg)')
				li(style='background-image: url(photos_min/85.jpg)')
				li(style='background-image: url(photos_min/86.jpg)')
				li(style='background-image: url(photos_min/87.jpg)')
				li(style='background-image: url(photos_min/88.jpg)')
				li(style='background-image: url(photos_min/89.jpg)')
				li(style='background-image: url(photos_min/90.jpg)')
				li(style='background-image: url(photos_min/91.jpg)')
				li(style='background-image: url(photos_min/92.jpg)')
				li(style='background-image: url(photos_min/93.jpg)')
				li(style='background-image: url(photos_min/94.jpg)')
				li(style='background-image: url(photos_min/95.jpg)')
				li(style='background-image: url(photos_min/96.jpg)')
				li(style='background-image: url(photos_min/97.jpg)')
				li(style='background-image: url(photos_min/98.jpg)')
				li(style='background-image: url(photos_min/99.jpg)')
				li(style='background-image: url(photos_min/100.jpg)')
				li(style='background-image: url(photos_min/101.jpg)')
				li(style='background-image: url(photos_min/102.jpg)')
				li(style='background-image: url(photos_min/103.jpg)')
				li(style='background-image: url(photos_min/104.jpg)')
				li(style='background-image: url(photos_min/105.jpg)')
				li(style='background-image: url(photos_min/106.jpg)')
				li(style='background-image: url(photos_min/107.jpg)')
				li(style='background-image: url(photos_min/108.jpg)')
				li(style='background-image: url(photos_min/100.jpg)')
				li(style='background-image: url(photos_min/110.jpg)')
				li(style='background-image: url(photos_min/111.jpg)')
				li(style='background-image: url(photos_min/112.jpg)')
				li(style='background-image: url(photos_min/113.jpg)')
				li(style='background-image: url(photos_min/114.jpg)')
				li(style='background-image: url(photos_min/115.jpg)')
				li(style='background-image: url(photos_min/116.jpg)')
				li(style='background-image: url(photos_min/117.jpg)')
				li(style='background-image: url(photos_min/118.jpg)')
				li(style='background-image: url(photos_min/119.jpg)')
				li(style='background-image: url(photos_min/120.jpg)')
				li(style='background-image: url(photos_min/121.jpg)')
				li(style='background-image: url(photos_min/122.jpg)')
				li(style='background-image: url(photos_min/123.jpg)')
				li(style='background-image: url(photos_min/124.jpg)')
				li(style='background-image: url(photos_min/125.jpg)')
				li(style='background-image: url(photos_min/126.jpg)')
				li(style='background-image: url(photos_min/127.jpg)')
				li(style='background-image: url(photos_min/128.jpg)')
				li(style='background-image: url(photos_min/129.jpg)')
				li(style='background-image: url(photos_min/130.jpg)')
				li(style='background-image: url(photos_min/131.jpg)')
				li(style='background-image: url(photos_min/132.jpg)')
				li(style='background-image: url(photos_min/133.jpg)')
				li(style='background-image: url(photos_min/134.jpg)')
				li(style='background-image: url(photos_min/135.jpg)')
				li(style='background-image: url(photos_min/136.jpg)')
				li(style='background-image: url(photos_min/137.jpg)')
				li(style='background-image: url(photos_min/138.jpg)')
				li(style='background-image: url(photos_min/139.jpg)')
				li(style='background-image: url(photos_min/140.jpg)')
				li(style='background-image: url(photos_min/141.jpg)')
				li(style='background-image: url(photos_min/142.jpg)')
				li(style='background-image: url(photos_min/143.jpg)')
				li(style='background-image: url(photos_min/144.jpg)')
				li(style='background-image: url(photos_min/145.jpg)')
				li(style='background-image: url(photos_min/146.jpg)')
				li(style='background-image: url(photos_min/147.jpg)')
				li(style='background-image: url(photos_min/148.jpg)')
				li(style='background-image: url(photos_min/149.jpg)')
				li(style='background-image: url(photos_min/150.jpg)')
				li(style='background-image: url(photos_min/151.jpg)')
				li(style='background-image: url(photos_min/152.jpg)')
				li(style='background-image: url(photos_min/153.jpg)')
				li(style='background-image: url(photos_min/154.jpg)')
				li(style='background-image: url(photos_min/155.jpg)')
				li(style='background-image: url(photos_min/156.jpg)')
				li(style='background-image: url(photos_min/157.jpg)')
				li(style='background-image: url(photos_min/158.jpg)')
				li(style='background-image: url(photos_min/159.jpg)')
				li(style='background-image: url(photos_min/160.jpg)')
				li(style='background-image: url(photos_min/161.jpg)')
				li(style='background-image: url(photos_min/162.jpg)')
				li(style='background-image: url(photos_min/163.jpg)')
				li(style='background-image: url(photos_min/164.jpg)')
				li(style='background-image: url(photos_min/165.jpg)')
				li(style='background-image: url(photos_min/166.jpg)')
				li(style='background-image: url(photos_min/167.jpg)')
				li(style='background-image: url(photos_min/168.jpg)')
				li(style='background-image: url(photos_min/169.jpg)')
				li(style='background-image: url(photos_min/170.jpg)')
				li(style='background-image: url(photos_min/171.jpg)')
				li(style='background-image: url(photos_min/172.jpg)')
				li(style='background-image: url(photos_min/173.jpg)')
				li(style='background-image: url(photos_min/174.jpg)')
				li(style='background-image: url(photos_min/175.jpg)')
				li(style='background-image: url(photos_min/176.jpg)')
				li(style='background-image: url(photos_min/177.jpg)')
				li(style='background-image: url(photos_min/178.jpg)')
				li(style='background-image: url(photos_min/179.jpg)')
		// КОНЕЦ ВИДЕО
	.video-descr
		.video-descr-in
			.video-descr-title
				| Умные бассейны<br>
				| Compass Pools
			.video-descr-mote
				| Покупая Compass Pools, вы погружаетесь в удовольствие,<br>
				| а не в проблемы, связанные с  использованием и обслуживанием бассейна.
